.btns_container{
    width: 50%;
    height: 70px;
    position: relative;   
    padding: 20px; 
    /*background-color: #e94b4b;*/
   
}

#btn_breakfast{
    position: absolute;
    left: 5vw;
    margin-right: 20px;
    width: 180px;
    height: 65px;
    justify-content: center;

    color: #F2CA7E;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;

    background-color: #A8021F;
    border: none;
    border-radius: 45px;
    box-shadow:  0px 4px 4px #431506; 
}

#btn_daytime{
    position: absolute;
    left: 30vw;
    
    margin-right: 20px;
    width: 180px;
    height: 65px;
    justify-content: center;

    color: #F2CA7E;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;

    background-color: #A8021F;
    border: none;
    border-radius: 45px;
    box-shadow:  0px 4px 4px #431506; 
}


#btn_breakfast:active, #btn_daytime:active{
    border:4px solid #E9D34B;
}

#btn_breakfast:focus, #btn_daytime:focus{
    border:6px solid #E9D34B;
}